:root {
    --img-1: url(https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwallpapercave.com%2Fwp%2Fwp2175562.jpg&f=1&nofb=1&ipt=07b92f88b39860d4e7d8427cb33b7ce0549c459e1118bdd1744fcf4ea9ac92a1&ipo=images);

    --img-2: url(https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwallpapercave.com%2Fwp%2Fwp3644179.png&f=1&nofb=1&ipt=e3e5e0b48744905f06dda0c3a796db8cecbdb9f8218421b42f84aa32ee0fb80a&ipo=images)    
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.background {
    width: 80%;
    margin: 30px auto;
    height: 300px;
    background-image: var(--img-1);
    background-size: cover;
    background-position: center;
}

/* EN LA MEDIA CUERISES EL max_width se de desktop para mobil */

@media (max-width:500px) {
    .background{
        background-image: var(--img-2);
    }
}

