

h2 {
   background-color: steelblue; 
   text-transform: uppercase;
}

nav.borde{
    border: 1px solid black;
}



h2.titulo {
    text-align: center;
    text-transform: capitalize;
}

#section {
    border: 1px solid black;
}

.😁 {
    color: darkblue;
}

a[href] {
    text-decoration: none;
}


[href="https://alexcgdesign.com/inicio"] {
    color:  darkred;
}